@media (max-width:884px) {
    .hero-container .hero-content {
        width: 100%;
    }


  .slider-item {
    min-width: 20%; /* Each item takes up 25% of the slider's width */
    box-sizing: border-box;
    position: relative;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #FF7A00;
  }

}

@media (max-width:768px) {
#largeImage {
    margin-bottom: 10px;
    height: 500px;
    background-color: #ff6f61;
    padding: 20px;
}

#smallImage1 {
    margin-right: 10px;
}

.large-image .description {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 60%;
}

.large-image .description h2 {
    font-size: 13px;
    margin-bottom: 10px;
}

.large-image .description p {
    font-size: 10px;
    margin-bottom: 10px;
}

.large-image .description .btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.about-header {
    text-align: center;
    padding: 50px 0;
    background-color: #FF7A00;
    color: #fff;
}

.about-header h1 {
    font-size: 28px;
    margin: 0;
}

.about-header p {
    font-size: 14px;
    margin-top: 10px;
}

.dine_main {
    width: 100%;
}

.newsletter_main .left_newsletter h1 {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FF7A00;
}

.newsletter_main .right_newsletter input {
    padding: 15px 70px 15px 15px;
    border-radius: 0%;
    width: 200px;
    border: 1px solid rgb(42, 42, 42, 0.321);
}

.newsletter_main .right_newsletter {
    text-align: end;
    display: flex;
    justify-content: right;
    align-items: center;
}

.newsletter_main .left_newsletter {
    text-align: end;
    display: flex;
    justify-content: right;
    align-items: center;
}

.newsletter_main .right_newsletter button {
    width: 100px;
    border-radius: 0%;
    border: 1px solid gray;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    transition: all ease 0.3s;
}

.newsletter_main {
    width: 90%;
}

.footer_main {
    width: 100%;
}

}

@media (max-width:430px) {
    .slider-item .caption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: fit-content;
    }

    .slider-item {
        min-width: 30%; /* Each item takes up 25% of the slider's width */
        box-sizing: border-box;
        position: relative;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 15px;
        background-color: #FF7A00;
      }

    .right_fun_content {
        display: none;
    }

    .services-h1 {
        font-size: 1.2rem;
    }

    .fun_h1 {
        font-size: 1.2rem;
    }

    .dine_main {
        width: 95%;
    
    }

    .dine_content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .newsletter_main {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .newsletter_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .newsletter_main .right_newsletter {
        text-align: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .newsletter_main .left_newsletter {
        text-align: end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer_content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer_main {
        width: 80%;
    }

}

@media (max-width:375px) {
    .left_fun_content_container_content {
        display: flex;
        flex-direction: column;
    }

    #disapear{
        display: none;
    }
}

@media (max-width:320px) {
    .slider-item {
        min-width: 40%; /* Each item takes up 25% of the slider's width */
        box-sizing: border-box;
        position: relative;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 15px;
        background-color: #FF7A00;
      }
}