@media (max-width:884px) {
    .hero-container .hero-content {
        width: 100%;
    }


  .slider-item {
    min-width: 20%; /* Each item takes up 25% of the slider's width */
    box-sizing: border-box;
    position: relative;
    margin: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #FF7A00;
  }

}

@media (max-width:768px) {
#largeImage {
    margin-bottom: 10px;
    height: 500px;
    background-color: #ff6f61;
    padding: 20px;
}

#smallImage1 {
    margin-right: 10px;
}

.large-image .description {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    max-width: 60%;
}

.large-image .description h2 {
    font-size: 13px;
    margin-bottom: 10px;
}

.large-image .description p {
    font-size: 10px;
    margin-bottom: 10px;
}

.large-image .description .btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ff6f61;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 12px;
}

.about-header {
    text-align: center;
    padding: 50px 0;
    background-color: #FF7A00;
    color: #fff;
}

.about-header h1 {
    font-size: 28px;
    margin: 0;
}

.about-header p {
    font-size: 14px;
    margin-top: 10px;
}
}

@media (max-width:430px) {
    .slider-item .caption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        width: fit-content;
    }

    .slider-item {
        min-width: 30%; /* Each item takes up 25% of the slider's width */
        box-sizing: border-box;
        position: relative;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 15px;
        background-color: #FF7A00;
      }

    .right_fun_content {
        display: none;
    }

    .services-h1 {
        font-size: 1.2rem;
    }

    .fun_h1 {
        font-size: 1.2rem;
    }
    
}

@media (max-width:375px) {
    .left_fun_content_container_content {
        display: flex;
        flex-direction: column;
    }

    #disapear{
        display: none;
    }
}

@media (max-width:320px) {
    .slider-item {
        min-width: 40%; /* Each item takes up 25% of the slider's width */
        box-sizing: border-box;
        position: relative;
        margin: 20px;
        border: 1px solid #000;
        border-radius: 15px;
        background-color: #FF7A00;
      }
}